.search__container {
    width: 100vw;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    .search__heading {
        text-align: center;
        font-weight: bold;
    }

    .search__cards {
        display: flex;
        gap: 1rem;
        justify-content: center;
        align-items: center;

        .search__card {
            padding: 1rem 1.5rem;
            border: 1px solid black;
            text-decoration: none;
            font-weight: bold;

            &:visited {
                color: black;
            }
            &:hover {
                background-color: whitesmoke;
            }
        }
    }

    .search__results {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 0.10rem;
        overflow: scroll;

        .search__result_card {
            width: 20vw;
            height: 40vh;
            border: 1px solid black;
            padding: 0.5rem;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            a {
                text-decoration: none;
                font-weight: bold;
    
                &:visited {
                    color: black;
                }

                .card__image {
                    object-fit: contain;
                }

                .card__name {
                    text-align: center;
                }
            }
        }

        .search__result_details {
            flex-basis: 70%;

            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            flex-wrap: wrap;
            gap: 0.3rem;

            .results__top {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid black;
                padding: 1rem;

            }
            .results__middle {
                width: 100%;
                display: flex;
                justify-content: center;
                flex-direction: column;
                border: 1px solid black;
                padding: 1rem;
            }

            .results__bottom {
                width: 100%;
                display: flex;
                justify-content: center;
                flex-direction: column;
                border: 1px solid black;
                padding: 1rem;

                .search__details_priorEvos {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-wrap: wrap;
                    border: 1px solid black;
                    padding: 1rem;
                }

                .search__details_nextEvos {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-wrap: wrap;
                    border: 1px solid black;
                    padding: 1rem;
                }

                .search__details_priorEvos, .search__details_nextEvos {
                    .evo__item {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-wrap: wrap;
                        flex-basis: 20%;
    
                        a {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            flex-wrap: wrap;
                            flex-direction: column;
    
                            div {
                                padding: 0.5rem 0rem;
                            }

                            img {
                                width: 40%;
                                height: 40%;
                            }
                        }
                    }
                }
            }
        }
    }
}