{% extends "../base.html" %}
{% load static %}
{% load compress %}

{% compress css %}
<link type="text/x-scss" href="{% static 'main/pages/search.scss' %}" rel="stylesheet">
{% endcompress %}

{% block content %}
    <div class="search__container">
        <h2 class="search__heading">
            Please select a search type below
        </h2>
        <section class="search__cards">
            <div class="search__card">
                <a href="{% url 'api_app:search/digimon' %}">
                    Digimon
                </a>
                <a href="{% url 'api_app:search/attribute' %}">
                    Attribute
                </a>
                <a href="{% url 'api_app:search/field' %}">
                    Field
                </a>
                <a href="{% url 'api_app:search/level' %}">
                    Level
                </a>
                <a href="{% url 'api_app:search/type' %}">
                    Type
                </a>
                <a href="{% url 'api_app:search/skill' %}">
                    Skill
                </a>
            </div>
        </section>
    </div>

{% endblock %}