{% extends "base.html" %} 
{% load static %}
{% load compress %}

{% block htmlhead %}
    {% compress css %}
        <link type="text/x-scss" href="{% static 'styles/pages/statics.scss' %}" rel="stylesheet">
    {% endcompress %}
{% endblock htmlhead %}

{% block content %}
<section class="history__container">
    <h1>What Exactly Is A Digimon?</h1>

    <img src="/static/images/history_intro.png" alt="Agumon and Gatchmon eating in Digimon"/>

    <p>
        When people think of Digimon, many make the mistake of seeing them as a
        shameless imitation of Pokemon. While both franchises feature creatures that
        possess the ability to manipulate the forces of nature, Digimon are
        physically different from Pokemon. Not only do they possess more
        intelligence than the average Pokemon but, from a biological point of view,
        Digimon have a completely different genetic make-up.
    </p>
    
    <p>
        Digimon are completely digital, hence their full name is Digital Monsters.
        What this means is that each Digimon is made up entirely of data. They don't
        have internal organs, bones, or skin like an actual living organism. For all
        extensive purposes, Digimon are an incredibly advanced program or AI that
        has gained a level of sentience. That being said, Digimon are much more than
        a simple program.
    </p>
    
    <p>
        While they may not be 'real' compared to humans or even animals, Digimon are
        very much alive. They're sentient lifeforms that can feel emotions like
        sadness or anger. They can experience hunger and thirst. While some could be
        described as mindless beasts, the vast majority have their own personality
        and desires. Digimon may be inorganic, but they are still living beings.
    </p>
    
    <h2>The Life Cycle Of A Digimon</h2>
    <img src="/static/images/history_digivolution.png" alt="Digimon Survive: All Of Agumon's Digivolution Paths"/>
    
    <p>
        Like most lifeforms, Digimon also go through their own stages of life. All
        Digimon come from Digi-Eggs and age through the process of Digivolution.
        When a Digimon "digivolves" their appearance changes, sometimes drastically,
        and they grow significantly stronger. They start as Fresh level Digimon when
        they first hatch and are practically infants with very little strength or
        even mobility compared to the other levels. Digimon at these levels also
        tend to have less of a defined shape.
    </p>
    
    <p>
        The next level of growth for Digimon is the In-Training stage where Digimon
        are slightly bigger and begin to gain more defined features. The Rookie or
        Child stage comes next and this tends to be the level where Digimon venture
        out in the world and begin to grow stronger on their own until they reach
        the Champion or Adult level.
    </p>
    
    <p>
        The final two stages, Ultimate and Mega respectively, are far rarer to
        encounter as moving up in level becomes progressively harder for Digimon. To
        digivolve past the In-Training level, a Digimon must gain a certain amount
        of battle experience and data from defeated enemies. Because the amount of
        data that is required to reach the final two levels is substantially higher
        than the others, there are very few Digimon who reach their pinnacle form.
    </p>
    
    <h2>Non-Cyclical Life</h2>
    <img src="/static/images/history_story.png" alt="Digimon Adventures (1999): Angemon's Last Stand"/>
    
    <p>
        While the natural progression of most living organisms is linear, the life
        cycle of a Digimon is more complex. While they do naturally move forward
        with their growth, they can also move backward. Since Digimon are made of
        raw data, their bodies can be reconfigured and altered in the same way that
        data can. Because of this, some Digimon are capable of stepping backward in
        their life cycles, reverting to an earlier stage. This also can occur when
        they take substantial damage in battle. Most Digimon won't willingly do this
        as they prefer being at their stronger stage.
    </p>
    
    <p>
        However, while Digimon possess the ability to move backward and forward
        through their life cycle, they aren't immortal. When a Digimon becomes old,
        or when they receive a fatal wound, they break apart into raw data. This
        data is then reconfigured into a new Digi-Egg and the cycle begins anew.
        While the Digimon that hatches from this Digi-Egg is technically a new
        Digimon, it's not uncommon for the Digimon to retain memories of their
        previous life. However, should a Digimon's data be destroyed or absorbed,
        the Digimon will die permanently.
    </p>
    
    <h2>The Digital World</h2>
    
    <p>
        The place that Digimon derive from is known simply as the Digital World. The
        Digital World is a parallel world that sits beside the Human World.
        Continents, islands, seas, deserts, and many other biomes that exist on
        Earth also exist within the Digital World. That being said, unlike on Earth,
        the geographical changes that occur in the Digital World can happen in an
        instant.
    </p>
        
    <p>
        Because the Digital World, like its inhabitants, is made up of data, it can
        be modified and reconfigured. This allows for structures and even entire
        islands to form in an instant, putting the world in a constant state of
        evolution. Because of the Digital World's natural malleability, there is a
        constant conflict between Digimon and humans seeking to take control over
        it.
    </p>
    
    <h2>Conflicting Origins</h2>
    
    <p>
        The popular theory surrounding the Digital World's creation stems from a
        rogue program that was either lost or abandoned by humans. Through unknown
        means, this program continued to evolve and grow without human interference,
        creating the Digital World that we know today. However, there are other
        conflicting theories.
    </p>
    
    <p>
        In the various seasons of the anime, there are conflicting thoughts about
        how the Digital World came to be. In the original 1999 Digimon Adventures,
        the children found that the Digital World existed alongside Earth, and
        deleted data from the human world would be transferred to the Digital World,
        allowing it to grow and evolve. However, the depiction given by Digimon
        Tamers states that the Digital World was a barren wasteland devoid of life.
        Digimon were only introduced after a failed AI project found its way into
        the Digital World.
    </p>
    
    <p>
        Even the creators of the franchise have differing opinions regarding the
        Digital World's origins. Hiroyuki Kakuda, the lead director for several of
        the anime, has even stated that he believes that Digimon and the Digital
        World aren't actually made of data. He believes that they are something that
        has been around for years and has merely adopted technology to manifest
        themselves.
    </p>
    
    <h2>Interactions With The Human World</h2>
    
    <p>
        No matter what iteration, the Digital World and the Human World are always
        closely linked. They exist parallel to one another, joined together through
        the internet. Because of the proximity of the two worlds, it's not uncommon
        for Digimon to cross over into the Human World. They can do this by either
        'infecting' pieces of technology like a computer virus, or they can take a
        physical form.
    </p>
    
    <p>
        Because Digimon are made of data, becoming physical creatures within the
        Human World seems impossible. Digimon subvert this expectation by creating
        false proteins and other components from the air and nearby matter using the
        Earth's electromagnetic field. Then, using their own data as a blueprint,
        they can construct a physical body. Humans going into the Digital World go
        through a similar process that breaks them down into digital energy.
        Additionally, should a Digimon die within the Human World, they cannot be
        reborn.
    </p>

    <p><a href="https://www.thegamer.com/digimon-anime-origins-creation/">Source</a></p>

</section>
{% endblock %}
