{% extends "base.html" %}
{% load static %}
{% load compress %}

{% block htmlhead %}
    {% compress css %}
        <link type="text/x-scss" href="{% static 'styles/pages/library.scss' %}" rel="stylesheet">
        <link type="text/x-scss" href="{% static 'styles/components/digimon_details.scss' %}" rel="stylesheet">
    {% endcompress %}
{% endblock htmlhead %}

{% block content %}
    <section class="library__main">
        {% if details_view %}
            {% include "components/library_details.html" with digimon=digimon %}
        {% else %}
            {% include "components/library_list.html" with digimons=digimons %}
        {% endif %}
    </section>
{% endblock %}