{% extends "base.html" %}
{% load static %}
{% load compress %}

{% block htmlhead %}
    {% compress css %}
        <link type="text/x-scss" href="{% static 'styles/pages/auth.scss' %}" rel="stylesheet">
    {% endcompress %}
{% endblock htmlhead %}

{% block content %}

    <div class="auth__container">
        <form class="login__form" action="{% url 'acc_app:login' %}" method="POST">
            {% if error %}
                {{error}}
            {% endif %}
            {{ form }}
            <input type="submit" value="Login">
            <input type="hidden" name="next" value="{{ request.GET.next }}" />
            {% csrf_token %}
            <p class="redirect__text">Don't have an account?</p>
            <p class="redirect__link"><a href="{% url 'acc_app:register' %}">Click here.</a></p>
        </form>
    </div>

    
{% endblock %}