{% extends "../base.html" %}
{% load static %}
{% load compress %}

{% block htmlhead %}
    {% compress css %}
        <link type="text/x-scss" href="{% static 'styles/pages/profile.scss' %}" rel="stylesheet">
    {% endcompress %}
{% endblock htmlhead %}

{% block content %}
    <div class="profile__container">
        <nav class="profile__nav">
            <uL class="profile__nav_items">
                <li class="nav_li">
                    <a class="nav_link" href="{% url 'acc_app:edit_profile' %}">Edit Profile</a>
                </li>
                <li class="nav_li">
                    <a class="nav_link" href="{% url 'acc_app:change_password' %}">Change Password</a>
                </li>
                <li class="nav_li">
                    <a class="nav_link" href="{% url 'acc_app:delete_profile' %}">Delete Profile</a>
                </li>
                <li class="nav_li">
                    <a class="nav_link" href="{% url 'acc_app:logout' %}">Logout</a>
                </li>
            </ul>
        </nav>
        <section class="profile__main">
            {% block child %} {% endblock %} 
        </div>
    </div>
{% endblock %}