{% extends "base.html" %}
{% load static %}
{% load compress %}

{% block htmlhead %}
    {% compress css %}
        <link type="text/x-scss" href="{% static 'styles/pages/search.scss' %}" rel="stylesheet">
        <link type="text/x-scss" href="{% static 'styles/components/digimon_details.scss' %}" rel="stylesheet">
    {% endcompress %}
{% endblock htmlhead %}

{% block content %}
    <div class="search__container">
        <section class="search__results">
            {% block child %} {% endblock %} 
            {% if nextPage %}
                <button id="load_more__btn" class="blue__button" data-url="{{nextPage}}">Load More</button>
            {% endif %}
        </section>
        </div>
    </div>

    <script>
        const csrfToken = "{{ csrf_token }}";
        const formHtml = `{% filter escapejs %}{% include "components/search_form.html" with form=form %}{% endfilter %}`;
    </script>
    <script src="{% static 'scripts/load_more.js' %}"></script>

{% endblock %}