{% extends "base.html" %}
{% load static %}
{% load compress %}

{% block htmlhead %}
    {% compress css %}
        <link type="text/x-scss" href="{% static 'styles/pages/search.scss' %}" rel="stylesheet">
    {% endcompress %}
{% endblock htmlhead %}

{% block content %}
    <div class="search__container">
        <h2 class="search__heading">
            Please enter a digimon name or ID below
        </h2>
        <form class="search__form" action="{% url 'main_app:search' %}" method="GET">
            {{ form }}
            <input type="submit" value="Submit">
        </form>
        <section class="search__results">
            {% block child %} {% endblock %} 
        </div>
    </div>

{% endblock %}