$white: #FFFFFF;
$dimwhite: #f9f9f9;
$smoked: #F4F5F6;
$dark: #333;
$darkBlue: #0B2541;
$orange: #EB8054;
$darkOrange: #da6739;
$skyBlue: #007bff;
$lightBlue: #cce2ff;
$red: #ab2232;
$crimson: #DC143C;
$black: #000;
$buttonBlue: #246d87;