{% load static %}
{% load compress %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django App</title>

    {% compress css %}
      <link type="text/x-scss" href="{% static 'styles/components/main.scss' %}" rel="stylesheet"/>
      <link type="text/x-scss" href="{% static 'styles/util/global.scss' %}" rel="stylesheet"/>
      <link type="text/x-scss" href="{% static 'styles/util/reset.scss' %}" rel="stylesheet"/>
      <link type="text/x-scss" href="{% static 'styles/helpers/_geometry.scss' %}" rel="stylesheet"/>
      <link type="text/x-scss" href="{% static 'styles/helpers/_layout.scss' %}" rel="stylesheet"/>
      <link type="text/x-scss" href="{% static 'styles/helpers/_colors.scss' %}" rel="stylesheet"/>
      <link type="text/x-scss" href="{% static 'styles/helpers/_text.scss' %}" rel="stylesheet"/>
    {% endcompress %}

    {% block htmlhead %}
    {% endblock htmlhead %}
  </head>
  <body>
    {% include "core/header.html" with static=static %}

    <main>
        {% block content %} {% endblock %} 
    </main>

    {% include "core/footer.html" %}
  </body>
</html>