
@import '../helpers/colors.scss';
@import '../helpers/geometry.scss';
@import '../helpers/layout.scss';
@import '../helpers/text.scss';


.nav_li {
    @include adjust-border(1px, $black, 1rem);
    @include adjust-padding-margin(1rem 2rem);

    .nav_link {
        @include format-link($darkBlue);
        @include format-text($weight: 600);
        width: 100%;
    }
}


.blue__button {
    background-color: $buttonBlue;
    color: $white;

    &:hover {
        background-color: $dark;
      }
}

.delete__button {
    background-color: $red;
    color: $white;

    &:hover {
        background-color: $crimson;
      }
}