
.nav_li {
    padding: 1rem 2rem;
    border-radius: 1rem;
    border: 1px solid black;

    .nav_link {
        width: 100%;
        text-decoration: none;
        font-weight: bold;

        &:visited {
            color: black;
        }
        &:hover {
            color: red;
        }
    }
}

.grey__button {
    background-color: #646869;
    color: #fff;

    &:hover {
        background-color: #3f4141;
      }
}

.blue__button {
    background-color: #246d87;
    color: #fff;

    &:hover {
        background-color: #165268;
      }
}

.delete__button {
    background-color: #921d2d;
    color: #fff;

    &:hover {
        background-color: #671520;
      }
}