@import '../helpers/colors.scss';
@import '../helpers/geometry.scss';
@import '../helpers/layout.scss';
@import '../helpers/text.scss';

.details__container {
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
	@include adjust-border(1px, $smoked, 8px);
	@include adjust-padding-margin(20px, 20px auto);
	background-color: $dimwhite;
	max-width: 800px;

	.details__header {
		@include format-text($align:center);
		margin-bottom: 20px;

		h1 {
			@include format-text(2rem, $align: center, $weight: 600);
			@include adjust-padding-margin(1rem 0);
		}

		img {
			@include adjust-image();
		}
	}

	.details__content {
		.details__section {
			margin-bottom: 20px;

			h2 {
				@include adjust-border-bottom(2px, $dark, 5px);
				@include format-text(1.3rem, $weight: 600);
				@include adjust-padding-margin(10px 15px, 10px 0);
				background-color: $smoked;
			}

			ul {
				li {
					margin-bottom: 10px;
				}
			}

			p.skill__name {
				@include format-text($weight: 600)
			}

			.field__list {
				@include flex($direction: row, $wrap: wrap);

				li {
					flex: 1 1 100px;
					@include adjust-padding-margin($margin: 5px);
					@include flex($direction: column, $align-items:center);
					@include format-text($align: center);
				}

				img {
					@include adjust-image();
				}
			}

			.evolution__list {
				@include flex($direction: row, $wrap: wrap);

				.evolution__box {
					@include flex($direction: column, $align-items:center);
					@include adjust-border(1px, $smoked, 5px);
					@include format-text($align:center);
					@include adjust-padding-margin(10px, 10px);
					background-color: $white;
					flex: 1 1 200px;
				}

				img {
					@include adjust-image(90%);
					@include adjust-padding-margin(10px);
					background-color: $smoked;
					border-radius: 5px;
				}
			}
		}
	}
}
