@import '../helpers/layout.scss';
@import '../helpers/colors.scss';

main {
	@include flex($justify-content: center, $align-items: center);
	width: 100vw;
	height: 85vh;
	overflow-y: scroll;
	background: linear-gradient(
		to right,
		$lightBlue,
		$white,
		$white,
		$white,
		$lightBlue
	);
}
