<div class="details-container">
    <div class="details-header">
        <h1>{{ digimon.name }}</h1>
        <img src="{{ digimon.images.first.href }}" alt="{{ digimon.name }}">
    </div>

    <div class="details-content">
        <div class="details-section">
            <h2>General Information</h2>
            <p>Antibody: {{ digimon.antibody }}</p>
            <p>Release Date: {{ digimon.release_date }}</p>
        </div>

        <div class="details-section">
            <h2>Levels</h2>
            <ul>
                {% for level in digimon.levels.all %}
                    <li>{{ level.level_name }}</li>
                {% endfor %}
            </ul>
        </div>

        <div class="details-section">
            <h2>Attributes</h2>
            <ul>
                {% for attribute in digimon.attributes.all %}
                    <li>{{ attribute.attr_name }}</li>
                {% endfor %}
            </ul>
        </div>

        <div class="details-section">
            <h2>Fields</h2>
            <ul class="field-list">
                {% for field in digimon.fields.all %}
                    <li>
                        <img src="{{ field.image }}" alt="{{ field.field_name }}">
                        {{ field.field_name }}
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div class="details-section">
            <h2>Descriptions</h2>
            <ul>
                {% for description in digimon.descriptions.all %}
                    <li>
                        <strong>Origin (Language: {{ description.language }}):</strong>
                        {{ description.origin }}
                        <p>{{ description.description }}</p>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div class="details-section">
            <h2>Skills</h2>
            <ul>
                {% for skill in digimon.skills.all %}
                    <li>
                        <p class="skill-name"><strong>{{ skill.skill_name }}</strong></p>
                        <p>{{ skill.description }}</p>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div class="details-section">
            <h2>Prior Evolutions</h2>
            <ul class="evolution-list">
                {% for prior_evo in digimon.prior_evos.all %}
                    <li class="evolution-box">
                        <a href="{% url 'main_app:search' prior_evo.evo_id %}">
                            <img src="{{ prior_evo.evo_image }}" alt="{{ prior_evo.evo_name }}">
                        </a>
                        <p>Name: {{ prior_evo.evo_name|truncatechars:30 }}</p>
                        {% if prior_evo.evo_condition %}
                            <p>Evo Condition: {{ prior_evo.evo_condition }}</p>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div class="details-section">
            <h2>Next Evolutions</h2>
            <ul class="evolution-list">
                {% for next_evo in digimon.next_evos.all %}
                    <li class="evolution-box">
                        <a href="{% url 'main_app:search' next_evo.evo_id %}">
                            <img src="{{ next_evo.evo_image }}" alt="{{ next_evo.evo_name }}">
                        </a>
                        <p>Name: {{ next_evo.evo_name|truncatechars:30 }}</p>
                        {% if next_evo.evo_condition %}
                            <p>Evo Condition: {{ next_evo.evo_condition }}</p>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>