@import '../helpers/colors.scss';
@import '../helpers/geometry.scss';
@import '../helpers/layout.scss';
@import '../helpers/text.scss';

.profile__container {
	@include flex($gap: 2rem);
	@include adjust-padding-margin(2rem, 0 auto);
	width: 50vw;
	height: 70vh;
	background-color: $smoked;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

	.profile__nav {
		width: 200px;
		@include flex($direction: column, $justify-content: center, $align-items: center);
		@include adjust-padding-margin(0, 0);


		.profile__nav_items {
			@include flex($direction: column, $gap: 1rem);

			.nav_li {
				@include adjust-padding-margin(0, 0);
				background-color: $lightBlue;
				text-decoration: none;
				border-radius: 4px;
				cursor: pointer;
				transition: background-color 0.2s;
	
				&:hover {
					background-color: $darkBlue;
				}

				.nav_link {
					@include format-text(1rem, $weight: 600, $color: $darkBlue);
					@include adjust-padding-margin(1rem 2rem);
					display: block;

					&:hover {
						color: $white
					}
				}
			}
		}
	}

	.profile__main {
		flex: 1;
		@include flex($direction: column, $justify-content: center, $gap: 1rem);

		.details__container {
			@include flex($direction: column, $justify-content: center, $gap: 1rem);
			flex-basis: 100%;
			position: relative;

			.details_image > img {
				position: absolute;
				top: 0;
				right: 0;
				width: 15rem;
				height: 15rem;
				object-fit: cover;
				@include adjust-border(2px, $darkBlue, 50%);
			}

			.details_field {
				@include format-text(1.2rem);
			}
		}

		.profile__edit_form,
		.profile__delete_form,
		.profile__edit_password {
			@include flex($direction: column, $justify-content: center, $gap: 0.6rem);
			@include adjust-padding-margin($margin: 0 auto);
			max-width: 400px;

			input:not(input[type='submit']) {
				@include format-text();
				@include adjust-border($px: 0.025rem, $color: $black, $radius: 0.25rem);
				@include adjust-padding-margin(0.3rem 0.5rem);
			}

			label {
				@include format-text(1.2rem);
			}

			input[type='submit'] {
				@include format-text(1.05rem, $align: center, $color: $white);
				@include adjust-padding-margin(0.5rem 1rem);
				@include adjust-border($px: 0, $color: none, $radius: 0.5rem);
				background-color: $skyBlue;

				&:hover {
					background-color: $darkBlue;
				}
			}
		}

		.profile__delete_form {
			input[type='submit'] {
				@include format-text(1.5rem, $color: $white);
				@include adjust-padding-margin(1rem 2rem);
				background-color: $crimson;

				&:hover {
					background-color: $red;
				}
			}
		}
	}
}
