@import '../helpers/colors.scss';
@import '../helpers/geometry.scss';
@import '../helpers/layout.scss';
@import '../helpers/text.scss';

.search__container {
	@include flex(
		$direction: column,
		$justify-content: center,
		$align-items: center,
		$gap: 1rem
	);
	@include adjust-padding-margin($margin: 0 auto);
	height: 100%;
	max-height: calc(100vh - 200px);

	.search__heading {
		@include format-text($align: center, $weight: 600, $color: $black);
	}

	.search__form {
		@include flex(
			$justify-content: center,
			$align-items: center,
			$gap: 1rem
		);
		width: 100%;
		margin-top: 1rem;

		input[type='text'] {
			@include adjust-padding-margin(0.5rem);
			@include adjust-border(1px, $black, 4px);
			width: 70%;
		}

		input[type='submit'] {
			@include adjust-padding-margin(0.5rem 1rem);
			@include adjust-border($px: 0, $color: none, $radius: 0.5rem);
			background-color: $buttonBlue;
			color: $white;
			cursor: pointer;
			transition: background-color 0.3s ease;

			&:hover {
				background-color: $darkBlue;
			}
		}
	}

	.search__results {
		@include flex(
			$justify-content: center,
			$align-items: center,
			$wrap: wrap,
			$gap: 0.1rem
		);
		overflow: auto;

		.search__result_card {
			@include flex(
				$direction: column,
				$justify-content: center,
				$align-items: center
			);
			@include adjust-border(1px, $smoked, 0.5rem);
			@include adjust-padding-margin(0.5rem, 0.5rem);
			flex-basis: 20%;
			height: 45vh;
			background-color: $white;
			box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);

			a {
				@include format-link($color: $darkBlue);

				.card__image {
					@include adjust-image();
					object-fit: contain;
					margin-bottom: 10px;
				}

				.card__name {
					@include format-text($weight: 600, $align: center);
				}
			}
		}

		#load_more__btn {
			@include adjust-padding-margin(0.5rem 1rem, 1rem 0);
			@include adjust-border(0, none, 0.25rem);
			cursor: pointer;
			transition: background-color 0.3s ease;
			flex-basis: 25%;
		}
	}
}
