@import '../helpers/colors.scss';
@import '../helpers/geometry.scss';
@import '../helpers/layout.scss';
@import '../helpers/text.scss';

.history__container, .about__container {
	height: 80vh;
	width: 50%;
	@include adjust-padding-margin($margin: 3rem auto);
	overflow: none;

	h1 {
		@include format-text(2rem, 600);
		margin-bottom: 10px;

		&::after {
			content: '';
			display: block;
			width: 100px;
			height: 2px;
			background-color: $black;
			margin: 10px 0;
		}
	}

	h2 {
		@include format-text(1.5rem, 600);
		margin-bottom: 8px;

		&::before {
			content: '◆ ';
			color: $darkOrange;
			font-size: 28px;
		}
	}

	p {
		@include format-text(1.2rem, $align: justify);
		line-height: 1.6;
		margin-bottom: 20px;

		&::first-letter {
			@include format-text(1.5rem, 600, $color: $darkOrange);
		}
	}

	img {
		@include adjust-image();
		@include adjust-padding-margin($margin: 1rem auto);
	}
}
