{% load static %}
{% load compress %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django App</title>

    {% compress css %}
      <link type="text/x-scss" href="{% static 'main/util/reset.scss' %}" rel="stylesheet">
    {% endcompress %}

  </head>
  <body>
    {% include "./core/header.html" with static=static%}

    <main>
        {% block content %} {% endblock %} 
    </main>

    {% include "./core/footer.html" %}
  </body>
</html>