{% extends "../pages/search.html" %}

{% block child %}
    <form action="{% url 'api_app:search/attribute' %}" method="GET">
        {{ form }}
        <input type="submit" value="Submit">
    </form>
    <div>{{data.content.description}}</div>
    {% if data.content.fields %}
        {% for attribute in data.content.fields %}
            <div class="search__result_card">
                <div>
                    <a href="{% url 'api_app:search/attribute_by_id' attribute.id %}">
                        {{attribute.name}}
                    </a>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="search__result_details">
            <div>
                {{data.name}}
            </div>
        </div>   
    {% endif %}
{% endblock %}