{% extends "../pages/search.html" %}

{% block child %}

    {% if data.content %}
        {% for digimon in data.content%}
            <div class="search__result_card" data-pos={{digimon.id}}>
                <a href={% url 'api_app:search/digimon_by_id' digimon.id %}>
                    <div class="card__name">{{digimon.name}}</div>
                    <img class="card__image" src={{digimon.image}} alt="digimon image"/>
                </a>
            </div>
        {% endfor %}
    {% else %}
            <div class="search__result_details" data-id={{data.id}}>
                <p class="search__details_name">
                    Name: {{data.name}}
                </p>
                <div class="search__details_image">
                    <img src={{data.images.0.href}}/>
                </div>
                <p class="search__details_antibody">
                    xAntibody: {% if data.xAntibody == True %}
                        Yes
                    {% else %}
                        No
                    {% endif %}
                </p>
                <div class="search__details_levels">
                    {% for item in data.levels %}
                        <p class="search__details_level">
                            <a href={% url 'api_app:search/level_by_id' item.id %}>
                                {{item.level}}
                            </a>
                        </p>
                    {% endfor %}
                </div>
                <p class="search__details_type">
                    {% for item in data.types %}
                        <p>
                            <a href={% url 'api_app:search/type_by_id' item.id %}>
                                {{item.type}}
                            </a>
                        </p>
                    {% endfor %}
                </p>
                <div class="search__details_attributes">
                    {% for item in data.attributes %}
                        <p>
                            <a href={% url 'api_app:search/attribute_by_id' item.id %}>
                                {{item.attribute}}
                            </a>
                        </p>
                    {% endfor %}
                </div>
                <div class="search__details_fields">
                    {% for item in data.fields %}
                        <p>
                            <a href={% url 'api_app:search/field_by_id' item.id %}>
                                <img src="{{item.href}}" title="{{item.field}}"/>
                            </a>
                        </p>
                    {% endfor %}
                </div>
                {% if data.releaseDate %}
                    <p>Release Date: {{data.releaseDate}}</p>
                {% endif %}
                {% for item in data.descriptions %}
                    {% if item.language == 'en_us' %}
                        {% if item.origin %}
                            <p>Origin: {{item.origin}}</p>
                        {% endif %}
                        {% if item.description %}
                            <p>Description: {{item.description}}</p>
                        {% endif %}
                    {% endif %}
                {% endfor %}

                <div class="search__details_skills">
                    {% for item in data.skills %}
                        <p>
                            <a href={% url 'api_app:search/skill_by_id' item.id %}>
                                Skill Name: {{item.skill}}
                            </a>
                            {% if item.description %}
                                <p>
                                    Description: {{item.description}}
                                </p>
                            {% endif %}
                        </p>
                    {% endfor %}
                </div>
                <div class="search__details_priorEvos">
                    {% if data.priorEvolutions %}
                        {% for item in data.priorEvolutions%}
                        <div class="priorEvos__item">
                            {% if item.id %}
                                <a href={% url 'api_app:search/digimon_by_id' item.id %}>
                                    <div>{{item.digimon}}</div>
                                </a>
                                <img src={{item.image}}/>               
                            {% endif %}
                        </div>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="search__details_nextEvos">
                    {% if data.nextEvolutions %}
                        {% for item in data.nextEvolutions%}
                        <div class="nextEvos__item">
                            {% if item.id %}
                                <a href={% url 'api_app:search/digimon_by_id' item.id %}>
                                    <div>{{item.digimon}}</div>
                                </a>
                                <img src={{item.image}}/>               
                            {% endif %}
                        </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
    {% endif %}


{% endblock %}