{% load static %}
{% load compress %}

{% compress css %}
<link type="text/x-scss" href="{% static 'styles/components/header.scss' %}" rel="stylesheet">
{% endcompress %}

{% block content %}

<header>
    <nav class="navbar">

        <ul class="navbar_list">

          {% if user.is_authenticated %}
            <li class="nav_li">
              <a class="nav_link" href="{% url 'main_app:home' %}">Home</a>
            </li>
            <li class="nav_li">
              <a class="nav_link" href="{% url 'main_app:search' %}">Search</a>
            </li>
            <li class="nav_li">
              <a class="nav_link" href="{% url 'acc_app:library' %}">Library</a>
            </li>
            <li class="nav_li">
              <a class="nav_link" href="{% url 'acc_app:profile' %}">Profile</a>
            </li>
            <li class="nav_li">
              <a class="nav_link" href="{% url 'main_app:about' %}">About</a>
            </li>
            <li class="nav_li">
              <a class="nav_link" href="{% url 'acc_app:logout' %}">Logout</a>
            </li>
          {% else %}
            <li class="nav_li">
              <a class="nav_link" href="{% url 'main_app:home' %}">Home</a>
            </li>
            <li class="nav_li">
              <a class="nav_link" href="{% url 'main_app:search' %}">Search</a>
            </li>
            <li class="nav_li">
              <a class="nav_link" href="{% url 'acc_app:login' %}">Login</a>
            </li>
            <li class="nav_li">
              <a class="nav_link" href="{% url 'acc_app:register' %}">Register</a>
            </li>
            <li class="nav_li">
              <a class="nav_link" href="{% url 'main_app:about' %}">About</a>
            </li>
          {% endif %}

        </ul>
      
      </nav>
      
</header>

{% endblock %}
