{% load static %}
{% load compress %}

{% compress css %}
<link type="text/x-scss" href="{% static 'styles/components/header.scss' %}" rel="stylesheet">
{% endcompress %}

{% block content %}

<header>
    <nav class="navbar">

        <ul class="navbar_list">
          <li class="navbar_item">
            <a class="navbar_link" href="{% url 'main_app:home' %}">Home</a>
          </li>
          <li>
            <a class="navbar_link" href="{% url 'main_app:search' %}">Search</a>
          </li>
          <li>
            <a class="navbar_link" href="{% url 'acc_app:login' %}">Login</a>
          </li>
          <li>
            <a class="navbar_link" href="{% url 'acc_app:register' %}">Register</a>
          </li>
          <li>
            <a class="navbar_link" href="{% url 'acc_app:profile' %}">Profile</a>
          </li>
          <li>
            <a class="navbar_link" href="{% url 'main_app:about' %}">About</a>
          </li>
        </ul>
      
      </nav>
      
</header>

{% endblock %}
