{% load static %}
{% load compress %}

{% compress css %}
<link type="text/x-scss" href="{% static 'main/components/header.scss' %}" rel="stylesheet">
{% endcompress %}

{% block content %}

<header>
    <nav class="navbar">

        <ul class="navbar_list">
          <li class="navbar_item">
            <a class="navbar_link" href="{% url 'home' %}">Home</a>
          </li>
          <li>
            <a class="navbar_link" href="{% url 'api_app:search/digimon' %}">Digimon Search</a>
          </li>
          <li>
            <a class="navbar_link" href="{% url 'login' %}">Login</a>
          </li>
          <li>
            <a class="navbar_link" href="{% url 'register' %}">Register</a>
          </li>
          <li>
            <a class="navbar_link" href="{% url 'profile' %}">Profile</a>
          </li>
          <li>
            <a class="navbar_link" href="{% url 'about' %}">About</a>
          </li>
        </ul>
      
      </nav>
      
</header>

{% endblock %}
